* text=auto
*.cs text eol=lf
*.md text eol=lf
*.json text eol=lf
*.inputactions text eol=lf
*.meta text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.docx binary
